<div
    style="
        padding: 20px;
        border: 2px solid red;
        border-radius: 8px;
        margin: 20px auto;
        max-width: 720px;
    "
>
    <div [angularLottie]="lottieDataThree"></div>
</div>

<div
    style="
        padding: 20px;
        border: 2px solid red;
        border-radius: 8px;
        margin: 20px auto;
        max-width: 720px;
    "
>
    <div [angularLottie]="lottieDataOne"></div>
</div>

<div
    style="
        padding: 20px;
        border: 2px solid red;
        border-radius: 8px;
        margin: 20px auto;
        max-width: 720px;
    "
>
    <div [angularLottie]="lottieDataTwo"></div>
</div>
